:root {
    /* --COLORS-- */
    /* -TEXT-  */
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* neutral text */
    --vdark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);
    /* -Background gradient- */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Dividers */
    --divider-blue: hsl(240, 5%, 91%);
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 83%);
}

.main-container {
    overflow: hidden;
    display: flex;
    flex: row wrap;
    margin: auto;
    margin-top: 200px;
    background-color: rgb(255, 255, 255);
    max-width: 990px;
    border-radius: 30px;
}

.images-container {
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 100px;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: -730px -400px;
    background-size: 250%;
}

.person-img {
    margin-left: -100px;
    height: 110%;
}

.box-img {
    position: absolute;
    display: block;
    margin-top: 155px;
    margin-left: -91px;
    height: 20%;
}

.faq-container {
    padding-top: 70px;
    margin: 0 auto;
}

.title {
    color: var(--desaturated-blue)
}

.question-wrapper {
    max-width: 380px;
    word-wrap: break-word;
    cursor: pointer;
}

.question {
    color: var(--vdark-gray-blue)
}

.arrow {
    margin-left: 50px;
    float: right;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--divider-blue);
    margin: 20px 0;
}


/* Hidden styles */

.hidden {
    display: none;
}


/* Frontend mentor Styles */

.attribution {
    position: absolute;
    display: inline-block;
    margin: auto;
    bottom: 0;
}