:root {
    /* --COLORS-- */
    /* -TEXT-  */
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* neutral text */
    --vdark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);
    /* -Background gradient- */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Dividers */
    --divider-blue: hsl(240, 5%, 91%);
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 83%);
    overflow: hidden;
}

.main-container {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    margin: auto;
    margin-top: 5%;
    width: 65%;
    height: 500px;
}

.faq-container {
    flex: 1;
    margin-left: 25px;
    padding-right: 80px;
}

.arrow {
    position: relative;
    float: right;
}

.images-container {
    flex: 1;
}

.divider {
    height: 1.5px;
    width: 100%;
    margin: 15px 0;
    background-color: var(--divider-blue);
}


/* Images */

.person-img {
    flex-grow: 1;
    width: 100%;
}

.box-img {
    width: 50%;
    margin-top: -400px;
}


/* Display */

.hidden {
    display: none;
}


/* Frontmentor styles */

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/* breakpoints */


/*(Anything 1000px and down) */

@media only screen and (max-width: 1000px) {
    body {
        text-align: center;
    }
    .images-container {
        flex: none;
        width: 65%;
    }
    .main-container {
        height: auto;
    }
}