:root {
    /* --COLORS-- */
    /* -TEXT-  */
    --desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    /* neutral text */
    --vdark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);
    /* -Background gradient- */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    /* Dividers */
    --divider-blue: hsl(240, 5%, 91%);
}

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background: linear-gradient(180deg, var(--soft-violet) 0%, var(--soft-blue) 83%);
}

.main-container {
    display: flex;
    margin: auto;
    margin-top: 100px;
    background-color: white;
    max-width: 950px;
}


/* Frontend mentor Styles */

.attribution {
    position: absolute;
    display: inline-block;
    margin: auto;
    bottom: 0;
}